<p [ngClass]="estilo">comp-atributos works!</p>
<button (click)="trocar()">Trocar Cor</button>

<h1 [ngStyle]="{'background':corFundo, 'color':corDaFonte}">Curso Angular</h1>

<ng-content select="h2"></ng-content>

<h1>Lista de Compras</h1>
<p>Adicione um item</p>
<input type="text" [(ngModel)]="item">
<br>
<button (click)="adicionarLista()">Adicionar</button>
<p>{{item}}</p>

<ng-content select=""></ng-content>

<ul>
  <li *ngFor="let element of lista">{{ element }}</li>
</ul>
<hr>

<ng-template [ngIf]="isEnable">
  <a href="#">Finalizar Compra</a>
</ng-template>
<br>
<ng-template [ngIf]="isEnable">
  <a href="#">Outra Compra</a>
</ng-template>


<hr>
