.roxo {
    height: 100%;
    background-color: #670bbd;
    color: #fff;
}

.roxo h1 {
    margin: 0;
}

/* modulos de css nao podem alterar elementos do html como h1 ou div
eh necessario a utilizacao de uma classe. */